main{
	ul#files_list{
		li{
			display: inline-block;
			width:200px;
			height:200px;
			vertical-align: top;
			margin:20px;
			background-repeat: no-repeat;
			background-position: center;
			@include background-size(cover);
			
			&,& *{
				@include transition(all .3s);
			}

			&.video{
				background-image: url('../img/vid_placeholder.png');
			}
			&.image{
				background-image: url('../img/img_placeholder.png');	
			}

			a{
				display: block;
				width:100%;
				height: 100%;
				background-color:$yellow;
				text-decoration: none;
				opacity: 0;
			}

			&:hover{
				@include transform(scale(1.1));
				
				a{
					opacity:0.5;
				}
			}
		}
	}
}