html{
	font-family: 'Ubuntu Condensed', Arial, sans-serif;
	font-size: 62.5%;


	body{
		/*1.2rem = 12px*/
		font-size: 1.6rem;
		background-color: $white;
		color:$black;
		padding:2rem 5rem;
		position:relative;

	}
}
/*OLD BROWSERS*/
aside,header,footer,main,article,section{ display:block; }